.nav-links a {
    color: #0C646F;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none; /* Optional: Prevent underline unless hovered */
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 10px;
  }